################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/App_Data
/.vs
/packages
/Bin
/WAF
